future
emoji
lxml
youtube_search==2.1.0
beautifulsoup4
requests
sqlalchemy==1.3.20
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
ffmpeg
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans==3.1.0a0
jikanpy
speedtest-cli
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
alphabet_detector
pyrate-limiter
cachetools
telethon==1.23.0
youtube_dl==2021.4.17
hachoir
asyncio
gtts
bs4
tswift
pyrogram>=1.0.7
tgCrypto>=1.2.2
spamwatch
apscheduler
git+git://github.com/google/chatbase-python.git
telegraph
search_engine_parser
fontTools
google_trans_new
aiofiles
